# Decision Trees

Decision trees are a supervised machine learning method used in both classification and regression problems.

Recall that a classification

In [58]:
import numpy as np
import pandas as pd
import talib as ta

from sklearn.model_selection import train_test_split

In [59]:
df = pd.read_csv('./../data/clean/aapl-adjusted-daily-compact.csv')
df.head()

,timestamp,open,high,low,close,adjusted_close,volume,dividend_amount,split_coefficient
0,2020-05-26,323.50,324.24,316.50,316.73,79.0367,31380454,0.0,1.0
1,2020-05-27,316.14,318.71,313.09,318.11,79.3810,28236274,0.0,1.0
2,2020-05-28,316.77,323.44,315.63,318.25,79.4160,33449103,0.0,1.0
3,2020-05-29,319.25,321.15,316.47,317.94,79.3386,38399532,0.0,1.0
4,2020-06-01,317.75,322.35,317.21,321.85,80.3143,20254653,0.0,1.0

In [60]:
df['EMA10'] = ta.EMA(df['close'].values, timeperiod=10)
df['EMA30'] = ta.EMA(df['close'].values, timeperiod=30)
df['ATR'] = ta.ATR(df['high'].values, df['low'].values, df['close'].values, timeperiod=14)
df['ADX'] = ta.ADX(df['high'].values, df['low'].values, df['close'].values, timeperiod=14)
df['RSI'] = ta.RSI(df['close'].values, timeperiod=14)
macd, macdsignal, macdhist = ta.MACD(df['close'].values, fastperiod=12, slowperiod=26, signalperiod=9)
df['MACD'] = macd
df['MACD_signal'] = macdsignal

df.tail()

,timestamp,open,high,low,close,adjusted_close,volume,dividend_amount,split_coefficient,EMA10,EMA30,ATR,ADX,RSI,MACD,MACD_signal
95,2020-10-08,116.25,116.40,114.5901,114.97,114.97,83477153,0.0,1.0,115.626705,166.021488,8.823417,61.593063,25.988483,-36.201352,-47.676793
96,2020-10-09,115.28,117.00,114.9200,116.97,116.97,100506865,0.0,1.0,115.870940,162.856876,8.341744,61.127316,27.645888,-33.570226,-44.855479
97,2020-10-12,120.06,125.18,119.2845,124.40,124.40,240226769,0.0,1.0,117.421679,160.375787,8.332334,59.591640,33.595272,-30.533530,-41.991089
98,2020-10-13,125.27,125.39,119.6500,121.10,121.10,262330451,0.0,1.0,118.090464,157.841865,8.147167,58.138269,32.323985,-28.069639,-39.206799
99,2020-10-14,121.00,123.03,119.6200,121.19,121.19,151062308,0.0,1.0,118.654016,155.477229,7.808798,56.790542,32.399118,-25.812179,-36.527875

In [61]:
df['close > EMA10'] = np.where(df['close'] > df['EMA10'], 1, -1)
df['EMA10 > EMA30'] = np.where(df['EMA10'] > df['EMA30'], 1, -1)
df['MACD_signal > MACD'] = np.where(df['MACD_signal'] > df['MACD'], 1, -1)
df.tail()

,timestamp,open,high,low,close,adjusted_close,volume,dividend_amount,split_coefficient,EMA10,EMA30,ATR,ADX,RSI,MACD,MACD_signal,close > EMA10,EMA10 > EMA30,MACD_signal > MACD
95,2020-10-08,116.25,116.40,114.5901,114.97,114.97,83477153,0.0,1.0,115.626705,166.021488,8.823417,61.593063,25.988483,-36.201352,-47.676793,-1,-1,-1
96,2020-10-09,115.28,117.00,114.9200,116.97,116.97,100506865,0.0,1.0,115.870940,162.856876,8.341744,61.127316,27.645888,-33.570226,-44.855479,1,-1,-1
97,2020-10-12,120.06,125.18,119.2845,124.40,124.40,240226769,0.0,1.0,117.421679,160.375787,8.332334,59.591640,33.595272,-30.533530,-41.991089,1,-1,-1
98,2020-10-13,125.27,125.39,119.6500,121.10,121.10,262330451,0.0,1.0,118.090464,157.841865,8.147167,58.138269,32.323985,-28.069639,-39.206799,1,-1,-1
99,2020-10-14,121.00,123.03,119.6200,121.19,121.19,151062308,0.0,1.0,118.654016,155.477229,7.808798,56.790542,32.399118,-25.812179,-36.527875,1,-1,-1

In [62]:
df['return'] = df['close'].pct_change(1).shift(-1)
df['target_classification'] = np.where(df['return'] > 0, 1, 0)
df['target_regression'] = df['return']
df.tail()

,timestamp,open,high,low,close,adjusted_close,volume,dividend_amount,split_coefficient,EMA10,...,ADX,RSI,MACD,MACD_signal,close > EMA10,EMA10 > EMA30,MACD_signal > MACD,return,target_classification,target_regression
95,2020-10-08,116.25,116.40,114.5901,114.97,114.97,83477153,0.0,1.0,115.626705,...,61.593063,25.988483,-36.201352,-47.676793,-1,-1,-1,0.017396,1,0.017396
96,2020-10-09,115.28,117.00,114.9200,116.97,116.97,100506865,0.0,1.0,115.870940,...,61.127316,27.645888,-33.570226,-44.855479,1,-1,-1,0.063521,1,0.063521
97,2020-10-12,120.06,125.18,119.2845,124.40,124.40,240226769,0.0,1.0,117.421679,...,59.591640,33.595272,-30.533530,-41.991089,1,-1,-1,-0.026527,0,-0.026527
98,2020-10-13,125.27,125.39,119.6500,121.10,121.10,262330451,0.0,1.0,118.090464,...,58.138269,32.323985,-28.069639,-39.206799,1,-1,-1,0.000743,1,0.000743
99,2020-10-14,121.00,123.03,119.6200,121.19,121.19,151062308,0.0,1.0,118.654016,...,56.790542,32.399118,-25.812179,-36.527875,1,-1,-1,NaN,0,NaN

In [63]:
predictors = ['ATR', 'ADX', 'RSI', 'close > EMA10', 'EMA10 > EMA30', 'MACD_signal > MACD']
X = df[predictors]
X.tail()

,ATR,ADX,RSI,close > EMA10,EMA10 > EMA30,MACD_signal > MACD
95,8.823417,61.593063,25.988483,-1,-1,-1
96,8.341744,61.127316,27.645888,1,-1,-1
97,8.332334,59.591640,33.595272,1,-1,-1
98,8.147167,58.138269,32.323985,1,-1,-1
99,7.808798,56.790542,32.399118,1,-1,-1

In [64]:
y_classification = df['target_classification']
y_classification.tail()

95    1
96    1
97    0
98    1
99    0
Name: target_classification, dtype: int64

In [65]:
y_regression = df['target_regression']
y_regression.tail()

95    0.017396
96    0.063521
97   -0.026527
98    0.000743
99         NaN
Name: target_regression, dtype: float64

In [66]:
y = y_cls
X_cls_train, X_cls_test, y_cls_train, y_cls_test = train_test_split(X, y, test_size=0.3, random_state=432, stratify=y)

NameError: name 'y_cls' is not defined